<mat-toolbar color="primary" class="nav-bar">

    <div class="item-box">
        <a mat-button routerLink="home">Home</a>
        <a mat-button routerLink="#">Historical Places</a>
        <a mat-button routerLink="file-upload">Image Upload</a>
        <a mat-button routerLink="about">About</a>
    </div>
    
    <div class="user-box">
        <a mat-button routerLink="user-list">view users</a>
        <a mat-button routerLink="login">Login</a>
        <a mat-button routerLink="register">Register</a>
    </div>
    
</mat-toolbar>


<router-outlet></router-outlet>