<div class="home-container">
    <carousel>
        <slide>
          <img src="assets/images/nature/1.jpg" alt="first slide">
        </slide>
        <slide>
          <img src="assets/images/nature/3.jpg" alt="third slide">
        </slide>
        <slide>
          <img src="assets/images/nature/4.jpg" alt="fourth slide">
        </slide>
        <slide>
            <img src="assets/images/nature/5.jpg" alt="fifth slide">
        </slide>
        <slide>
            <img src="assets/images/nature/6.jpg" alt="sixth slide">
        </slide>
        <slide>
            <img src="assets/images/nature/7.jpg" alt="seventh slide">
        </slide>
        <slide>
            <img src="assets/images/nature/8.jpg" alt="eighth slide">
        </slide>

        <slide>
            <img src="assets/images/bd/bd-1.jpg" alt="Bangladesh-1 slide">
        </slide>
        <slide>
            <img src="assets/images/bd/bd-2.jpg" alt="Bangladesh-2 slide">
        </slide>
        <slide>
            <img src="assets/images/bd/bd-3.jpg" alt="Bangladesh-3 slide">
        </slide>
        <slide>
            <img src="assets/images/bd/bd-4.jpg" alt="Bangladesh-4 slide">
        </slide>

      </carousel>
</div>